.user__avatar {
  grid-area: avatar;
}
.user__select {
  grid-area: select;
}

.user__options {
  grid-area: options;
}

.user__login {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: "avatar select options";
}

.user__login > span {
  padding: 8px 4px;
}
